<div class="div-1">
<nav class='navbar navbar-expand-sm navbar-custom-bgcolor navbar-light navbar-fixed-top'>
  <ul class="navbar-nav">
      <li class='nav-item'>
        <a routerLink ='userLoginView' routerLinkActive='active' class = 'nav-link'>LoginUserList</a>
      </li>
      <li class='nav-item'>
        <a routerLink ='createLoginUser' routerLinkActive='active' class = 'nav-link'>Add LoginUser</a>
      </li>
      <div class='navbar-nav-center' >
        <h1>{{title}}</h1>
      </div>
  </ul>
</nav>

<!-- <h1 class="text-center">{{title}}</h1> -->
<div class = "container">
  <!-- <app-login-user-list></app-login-user-list> -->
  <router-outlet></router-outlet>
</div>

<footer class='footer'>
  <div class='container'>
    <span>All rights reserved 2024FunShopping</span>
  </div>
</footer>
</div>